<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
  <a class="navbar-brand" th:href="@{/}">RentYourCar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" th:href="@{/bookings}">My Bookings</a>
      </li>
    </ul>

    <div sec:authorize="isAuthenticated()">
            <span class="navbar-text mr-3" th:inline="text">
              Welcome, [[${currentUsersName}]]
            </span>
      <a class="nav-item btn btn-sm btn-danger" th:href="@{/logout}">Logout</a>
    </div>

    <div sec:authorize="isAnonymous()">
      <a class="btn btn-sm btn-success mr-1" th:href="@{/login}">Login</a>
      <a class="btn btn-sm btn-primary" th:href="@{/auth/registration}">Register</a>
    </div>
  </div>
</nav>
</body>
</html>